.
.apex/
.idea/
.sdk/
Student_Management.iml
# Unused Lightning Component
src/aura
src/components
#Ignore Mulodo Recruitment App
src/classes/MR_*.*
src/pages/MR_*
src/staticresources/MRCandidateFormRemotingJS.resource
src/triggers/MR_*